.App {
  max-width: 450px;
  height: max-content;
  background-color: powderblue;
  margin: 100px auto;
  border-radius: 10px;
  /* transition: opacity 0.4s;
  opacity: 0.5; */
}

.App-style-for-modal {
  max-width: 450px;
  height: max-content;
  background-color: powderblue;
  margin: 100px auto;
  border-radius: 10px;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.title {
  text-align: center;
}

.btn {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 4px 2px 2px #607d8b;
  cursor: pointer;
  background-color: white;
}

.form {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  /* position: relative;
  opacity: 1;
  transition: all 0.4s ease-in-out; */
}

.inputs {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.submitBtns {
  display: flex;
  gap: 10px;
}

/* tab */
.tab-content {
  margin: 0px auto;
  font-size: 20px;
}

.tab {
  width: 360px;
  display: flex;
}

.tab p,
.tab div {
  flex: 1;
}

.tabHead,
.tabFoot {
  width: 240px;
  display: flex;
}

.tabHead p,
.tabFoot p {
  flex: 1;
}

.colCalories {
  border-left: 2px solid white;
}

.iconColor {
  color: #ff008c;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
