.App {
  max-width: 600px;
  height: 600px;
  background-color: powderblue;
  margin: 100px auto;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 4px 2px 2px #607d8b;
  cursor: pointer;
  background-color: white;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.inputs {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.submitBtns {
  display: flex;
  gap: 10px;
}

/* tab */
.tab {
  width: 360px;
  display: flex;
}

.tab p,
.tab div {
  flex: 1;
}

.tabHead,
.tabFoot {
  width: 240px;
  display: flex;
}

.tabHead p,
.tabFoot p {
  flex: 1;
}

.colCalories {
  border-left: 2px solid white;
}

.iconColor {
  color: #ff008c;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
